@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    outline: 1px solid red;
}

:root {
    --top-menu: #3C3C3C;
    --active: #1E1E1E;
    --hover: #464646;
    --hover-text: #d2d2d2;
    --background: #1E1E1E;
    --text: #BAC1C9;
    --side-menu: #252526;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 50vh;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefered-reduced-motion) {
    .hidden {
        opacity: 0;
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

nav.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: var(--top-menu);
    width: 100%;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
}

nav.menu li a {
    display: block;
    color: var(--text);
    text-align: center;
    float: left;
    padding: 15px;
    text-decoration: none;
}

nav.menu li a.active {
    background-color: var(--active);
    color: var(--hover-text);
}

nav.menu li a:hover {
    background-color: var(--hover);
    color: var(--hover-text);
}

div.content {
    /* margin-left: 10%; */
    display: inline-block;
    /* float: center; */
    overflow: hidden;
    height: 100%;
    width: calc(100% - 150px);

}
div.workspace {
    /* margin-left: 10%; */
    /* float: left; */
    width:100%; 
    position:relative;
    white-space: nowrap;
    overflow: hidden;

}
nav.side-menu {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    width: 150px;
    background-color: var(--side-menu);
    /* position: fixed;   */
    height: 100%;   
    overflow: hidden;
    float: left;
}

nav.side-menu li a {
    display: block;
    color: var(--text);
    padding: 8px 16px;
    text-decoration: none;
}

nav.side-menu li a.active {
    background-color: var(--active);
    color: var(--hover-text);
}

nav.side-menu li a:hover:not(.active) {
    background-color: var(--side-menu);
    color: var(--text);
}
nav.side-menu li a:hover {
    background-color: var(--hover);
    color: var(--hover-text);
}

@media screen and (max-width: 900px) {}