@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --primary: #4c2374;
    --secondary: #10303f;
    --selected: #3e6e85;
    --background: #55798a;
    --text: #e3e7e9;
  }

body {
    background-color: var(--background);
    color: var(--secondary);
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 50vh;
}

.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefered-reduced-motion) {
    .hidden {
        opacity: 0;
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* .mdPage{
    min-height: 100vh; 
    min-width: 80%;
} */

nav.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    overflow: hidden;
    background-color: var(--primary);
}

li {
    float: left;
    width: 100%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: var(--selected);
}

.active {
    background-color: var(--background);
}



nav.menu li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

nav.menu li a.active {
    background-color: var(--background);
    color: var(--text);
}

nav.menu li a:hover:not(.active) {
    background-color: var(--primary);
    color: var(--text);
}



nav.menu {
    width: 100%;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav.menu li a {
    float: left;
    padding: 15px;
}

div.content {
    margin-left: 0;
}

nav.menu li {
    float: left;
    width: auto;
}
@media screen and (max-width: 900px) {

}