
img.circular_image_left {
    margin: 0 auto;
    border-radius: 50%;
    max-height: 90%;
}
img.image_left {
    margin: 0 auto;
    height: 90%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}
